{% extends 'base.html' %}

{% block content %}

<main class="container py-5">

    <section class="card card-body">
        <h1 class="display-1 text-center">Django Tasks App</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nulla mi, pharetra vitae sapien vitae, tempor sodales metus. Quisque fringilla ex nec justo molestie, ut auctor diam ultricies. Integer vel tincidunt diam. Aenean vitae fermentum tortor. Curabitur ac tincidunt augue. Phasellus ultricies, orci vitae congue mollis, nisl lectus dapibus lectus, et efficitur sapien purus vestibulum orci. Proin ultricies lacinia nisl, sed ultricies erat vehicula ut. Praesent sit amet risus felis. Suspendisse quis faucibus velit, a porttitor nisi. Suspendisse odio neque, facilisis et augue tincidunt, ultricies venenatis est. Praesent posuere porttitor aliquet. Pellentesque ante dui, sagittis et ante at, mattis placerat ligula. Ut tempor facilisis justo, a interdum lacus tincidunt non. In finibus enim eget tristique elementum. Maecenas nec euismod dui.

        Cras consectetur sapien justo, ac efficitur ante rhoncus in. Fusce dui felis, pellentesque ut velit sit amet, luctus vulputate eros. Cras dignissim, odio ut blandit pulvinar, nunc leo scelerisque nunc, egestas gravida enim diam non sem. Praesent suscipit ipsum vitae fermentum aliquam. Sed eleifend lacus eu convallis luctus. Aenean eget est lorem. Mauris pharetra elit non enim tempus, non vehicula ante venenatis. Vivamus ante metus, feugiat non imperdiet maximus, efficitur vel sem. Vivamus sodales, dui vestibulum auctor tincidunt, mauris eros ornare leo, in condimentum ex dolor quis ipsum. Nulla facilisi. Nullam hendrerit eleifend nisi vel pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec mauris sapien, tincidunt in risus at, scelerisque efficitur libero. Aliquam eros sapien, euismod id semper at, condimentum ac metus.</p>

        <div class="text-center">

            <a class="btn btn-secondary" href="/signin/">
                Login
            </a>   
            <a class="btn btn-dark" href="/signup/">
                Register
            </a>

        </div>
    </section>
</main>
{% endblock %}